body {
    font-size: 1.25rem;
}

.avatar {
    max-width: 100%;
}

/* static/styles.css */
.profile-card {
    font-size: 1.2rem; /* общий текст */
}

.profile-card th {
    width: 150px;
    font-weight: 600;
}